.inactive{
  display: none;
}
.board{
  position: relative;
  border-radius: 20px;
  padding: 40px 50px 55px 50px;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: var(--Cuartenary-Color);
}
.board__container{
  place-items: center;
  text-align: center;
  display: grid;
  width: 310px;
  height: 410px;
}
.board__container h1{
  margin-bottom: 16px;
  font-size: 28px;
}
.board__game{
  grid-template-columns: repeat(3, 80px);
  justify-content: center;
  place-items: center;
  display: grid;
  gap: 10px;
}
.square{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
  width: 80px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 8px;
  transition: all .3s ease;
  border: 1px solid white;
  background-color: var(--Quinary-Color);
}
.square:hover, .square:active{
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: var(--Secondary-Color);
}
.board__turn{
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.is-selected{
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: var(--Secondary-Color);
}