.frontpage__container{
  place-items: center;
  text-align: center;
  display: grid;
  width: 310px;
  height: 410px;
  background-color: transparent;
}

.frontpage__container--title{
  flex-direction: column;
  display: flex;
}

.frontpage__container--title h2{
  font-size: 28px;
}

.frontpage__container--title p{
  margin: 20px 0;
}

.frontpage__container--info{
  flex-direction: column;
  text-align: left;
  display: flex;
  width: 100%;
  gap: 18px;
}

.input1, .input2{
  flex-direction: column;
  display: flex;
  gap: 4px;
}

.input1 span:first-child, .input2 span:first-child{
  font-size: 18px;
  font-weight: bold;
}

.input1 span:last-child, .input2 span:last-child{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, .5);
}

.input1 input, .input2 input{
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  font-family: var(--Font);
  transition: all 0.3s ease;
  border: 1px solid rgba(0, 0, 0, .8);
  background-color: var(--Primary-Color);
}

.input1 input:focus, .input2 input:focus{
  outline: none;
  border: 1px solid var(--Secondary-Color);
  background-color: var(--Cuartenary-Color);
}

.frontpage__container--buttons button{
  cursor: pointer;
  padding: 18px 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
  border: 1px solid black;
}

.frontpage__container--buttons button:first-child{
  background-color: var(--Secondary-Color);
}

.frontpage__container--buttons button:hover{
  scale: 1.1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}